htmlt{
    height: 100%;
}
    
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E40613, #0B1F51);
}

.cuadro{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(0,0,0, •5);
    border-radius: 10px;
}

.cuadro h1{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #FFD700;
    text-align: center;
}

.cuadro form input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}

.cuadro form input[type = "submit"]{
    background-color: #A8D8FF;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
}